<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>User  {{ form.id ? 'edit' : 'create' }}</h4>
        <form class="form-inline mb-4">
          <div class="form-group mr-3">
            <label for="name" class="mr-2">Name:</label>

            <input class="form-control" type="text" id="name" v-model="form.name">
          </div>

          <div class="form-group mr-3">
            <label for="email" class="mr-2">Email:</label>

            <input class="form-control" type="text" id="email" v-model="form.email">
          </div>

          <div class="form-group">
            <button class="btn btn-success mr-2" type="button" @click="add">
              {{ form.id ? 'Update' : 'Create' }}
            </button>

            <button v-if="form.id" class="btn btn-danger" type="button" @click="clear">
              Clear
            </button>
          </div>
        </form>

        <div class="card card-default">
          <div class="card-header">Users</div>

          <div class="card-body">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in users" :key="index">
                <td>{{ item.users.name }}</td>
                <td>{{ item.users.email }}</td>
                <td>
                  <button class="btn btn-sm btn-warning" type="button" @click="edit(item.users)">Edit</button>
                  <button class="btn btn-sm btn-danger" type="button" @click="remove(item.users, index)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        users: null,

        form: {
          id: null,
          name: '',
          batch: '',
        },
      };
    },

    created() {
      axios
        .get('/api/users')
        .then((users) => {
          this.users = users.data;
        });
    },

    methods: {
      add() {
        if(this.form.name && this.form.email) {
          let method = this.form.id ? 'put' : 'post';

          axios[method](`/api/users/${this.form.id || ''}`, this.form)
            .then((response) => {
              if (! this.form.id) {
                this.users.push({
                  users: response.data,
                });
              } else {
                let _user = this.users.filter((item) => {
                  return item.users.id === this.form.id;
                })[0];

                if (_user) {
                  _user.users.name = this.form.name;
                  _user.users.email = this.form.email;
                }
              }

              this.form = {
                id: null,
                name: '',
                email: '',
              }
            });
        }
      },

      edit(user) {
        this.form = {
          id: user.id,
          name: user.name,
          email: user.email,
        }
      },

      remove(user, index) {
        if (! confirm('Are you sure?')) return;

        axios
          .delete(`/api/users/${user.id}`)
          .then(() => {
            this.users.splice(index, 1);
          });
      },

      clear() {
        this.form = {
          id: null,
          name: '',
          email: '',
        }
      }
    }
  }
</script>
